.true {
     content: "";
     display: block;
     background: url(../images/new.png) no-repeat;
     height: 55px;
     width: 55px;
     margin-left: 70px;
     z-index: 10;
     position: absolute;

}

.rapperImage  {
    -webkit-filter: grayscale(100%) sepia(30%) brightness(94%) drop-shadow(2px 3px 3px rgba(0,0,0,0.5));
    filter: grayscale(100%) sepia(30%) brightness(94%) drop-shadow(2px 3px 3px rgba(0,0,0,0.5));
    }

.rapperImage:hover { 
    -webkit-filter: grayscale(0%) drop-shadow(2px 3px 3px rgba(0,0,0,0.5));
    filter: grayscale(0%) drop-shadow(2px 3px 3px rgba(0,0,0,0.5));
    cursor: pointer;
    
}

#rappersImages:hover ~ #newTag { 
	display: none;
}

.rapperImage:active { 
    -webkit-filter: grayscale(0%) drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
    filter: grayscale(0%) drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
    transform: scale(0.98, 0.98);
}


body {
	background: rgba(255,98,66,1);
	background: -moz-linear-gradient(top, rgba(255,98,66,1) 0%, rgba(255,98,66,1) 32%, rgba(255,135,95,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,98,66,1)), color-stop(32%, rgba(255,98,66,1)), color-stop(100%, rgba(255,135,95,1)));
	background: -webkit-linear-gradient(top, rgba(255,98,66,1) 0%, rgba(255,98,66,1) 32%, rgba(255,135,95,1) 100%);
	background: -o-linear-gradient(top, rgba(255,98,66,1) 0%, rgba(255,98,66,1) 32%, rgba(255,135,95,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,98,66,1) 0%, rgba(255,98,66,1) 32%, rgba(255,135,95,1) 100%);
	background: linear-gradient(to bottom, rgba(255,98,66,1) 0%, rgba(255,98,66,1) 32%, rgba(255,135,95,1) 100%);
	/*background-size: 100% 100vh; */
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}


#iframe-stmblpn-widget-1 {
  position: relative;
  left: -5px; 
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.gem/ruby/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/design.scss */
body {/*
  background: #d63732;*/
  font-family: Arial, Helvetica;
}
/* line 12, ../sass/design.scss */
body #container header {
  display: block;
  padding: 30px 0 0 0px;
}
/* line 16, ../sass/design.scss */
body #container header #social-container {
  display: block;
  float: left;
  padding-top: 27px;
}
/* line 16, ../sass/design.scss */
body #container header #cta-container1 {
  display: block;
  float: right;
  padding-bottom: 10px;
}

/* line 16, ../sass/design.scss */
body #container header #cta-container2 {
  display: block;
  float: right;
  padding-bottom: 10px;
    padding-top: 27px;

}
/* line 19, ../sass/design.scss */
body #container header #cta-container2 a {
  display: block;
  width: 26px;
  height: 22px;
  background: transparent url("../images/twitter_2.png") no-repeat;
}
/* line 16, ../sass/design.scss */
body #container header #cta-container3 {
  display: block;
  float: right;
  padding-bottom: 10px;
}

/* line 16, ../sass/design.scss */
body #container header #cta-container4 {
  display: block;
  float: right;
  padding-bottom: 10px;
  padding-top: 27px;

}
/* line 19, ../sass/design.scss */
body #container header #cta-container4 a {
  display: block;
  width: 22px;
  height: 22px;
  padding-right: 12px;
  background: transparent url("../images/twitter_4.png") no-repeat;
}
/* line 27, ../sass/design.scss */
body #container header #branding {
  width: 100%;
  height: 64px;
  padding: 20px 0;
  /* border-top: 5px solid #f4f1de; */
  border-bottom: 5px solid #f4f1de;
  background: transparent url("../images/header_background.png") no-repeat center center;
}
/* line 37, ../sass/design.scss */
body #container #content {
  width: 100%;
  margin: 0 auto;
}
/* line 41, ../sass/design.scss */
body #container #content ul#rap-board-list {
  list-style: none;
}
/* line 44, ../sass/design.scss */
body #container #content ul#rap-board-list li {
    display: block;
    width: 137px;
    height: 148px;
    /* margin: 10px; */
    position: relative;
    float: left;
    /* border: 2px solid rgba(228, 45, 40, 0.44); */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); */
    background-repeat: no-repeat;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}
/* line 55, ../sass/design.scss */
body #container #content ul#rap-board-list li audio {
  display: none;
  width: 0;
  height: 0;
}
/* line 61, ../sass/design.scss */
body #container #content ul#rap-board-list li.loading {
  cursor: default;
  opacity: .25;
}
/* line 66, ../sass/design.scss */
body #container #content ul#rap-board-list li.new {
  color: white;
}
/* line 70, ../sass/design.scss */
body #container #content ul#rap-board-list li .tooltip {
  position: absolute;
  display: none;
  z-index: 10;
}
/* line 74, ../sass/design.scss */
body #container #content ul#rap-board-list li .tooltip span.content {
  display: block;
  padding: 8px 9px;
  background: #00adef;
  font-size: 15px;
  font-weight:600;
  letter-spacing:0.1px;
  /* text-transform: uppercase; */
  color: #FFFFFF;
}
/* line 84, ../sass/design.scss */
body #container #content ul#rap-board-list li .tooltip span.triangle {
  border-color: #00adef transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -10px;
}
/* line 98, ../sass/design.scss */
body #container #content ul#rap-board-list li:hover .tooltip {
  display: block;
}
/* line 107, ../sass/design.scss */
body #container footer {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;

  border-top: 5px solid #f4f1de;
}
/* line 116, ../sass/design.scss 
body #container footer > a span.leftTriangle {
  border-color: transparent transparent transparent #d63732;
  border-style: solid;
  border-width: 17px;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}*/
/* line 127, ../sass/design.scss 
body #container footer > a span.rightTriangle {
  border-color: transparent #d63732 transparent transparent;
  border-style: solid;
  border-width: 17px;
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
}*/
/* line 140, ../sass/design.scss */
body #container footer p {
  text-align: center;
  color: #F5F0E2;
  font-size: 14px;
  padding-bottom: 50px;
  padding-top: 33px;
}
/* line 145, ../sass/design.scss */
body #container footer p a {
  color: #F5F0E2;
  font-weight: bold;
}
/* line 148, ../sass/design.scss */
body #container footer p a:hover {
  text-decoration: underline;
}
/* line 156, ../sass/design.scss */
body .clear {
  width: 0px;
  height: 0px;
  clear: both;
}

/* line 1, ../sass/grid.scss */
html, body {
  padding: 0;
  margin: 0;
}
/* line 5, ../sass/grid.scss */
html #container, body #container {
  /*
  Default at 1024px resolution
  */
  width: 960px;
  padding: 0;
  margin: 0 auto;
}
@media screen and (min-width: 1376px) {
  /* line 5, ../sass/grid.scss */
  html #container, body #container {
    /*
    1440px High End Desktop
    */
    width: 1376px;
  }
  /* line 19, ../sass/grid.scss */
  html #container #content, body #container #content {
    width: 1370px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 1216px) and (max-width: 1375px) {
  /* line 5, ../sass/grid.scss */
  html #container, body #container {
    /*
    1280px Average Desktop
    */
    width: 1216px;
  }
  /* line 31, ../sass/grid.scss */
  html #container #content, body #container #content {
    width: 1096px;
    margin: 0 65px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  /* line 5, ../sass/grid.scss */
  
  html #container header #branding, body #container header #branding {
    height: 100px;
    background-position-y: 25px;
    }
    
  body #container header #social-container, body #container header #cta-container2, body #container header #cta-container4 {
  padding-top: 70px;
  
  }
  
  html #container, body #container {
    /*
    768px iPad Portrait
    */
    width: 768px;
  }
  /* line 44, ../sass/grid.scss */
  html #container #content, body #container #content {
    width: 685px;
    margin: 0 53px;
  }
}
@media screen and (max-width: 767px) {

html #container header #branding, body #container header #branding {
    height: 100px;
    background-position-y: 25px;
    }
    
  body #container header #social-container, body #container header #cta-container2, body #container header #cta-container4 {
  padding-top: 70px;
  
  }
  /* line 5, ../sass/grid.scss */
  html #container, body #container {
    /*
    320px (or <480px) iPhone/Smart Phone Portrait
    */
    width: 320px;
  }
  /* line 57, ../sass/grid.scss */
  html #container header #branding, body #container header #branding {
    background-size: 320px 46px;
  }
  /* line 62, ../sass/grid.scss */
  html #container #content, body #container #content {
      width: 324px;
      margin: 0 23px; */
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {

html #container header #branding, body #container header #branding {
    height: 100px;
    background-position-y: 25px;
    }
    
  body #container header #social-container, body #container header #cta-container2, body #container header #cta-container4 {
  padding-top: 70px;
  
  }

  /* line 5, ../sass/grid.scss */
  html #container, body #container {
    /*
    480px iPhone Landscape
    */
    width: 480px;
  }
  /* line 75, ../sass/grid.scss */
  html #container header #branding, body #container header #branding {
    background-size: 383px 55px;
  }
  /* line 80, ../sass/grid.scss */
  html #container #content, body #container #content {
       width: 487px;
    margin: 0 50px;
  }
}


#header
{
   /*background: #d63732; */
}
.footer
{
   /*background: #d63732; */
   /*      padding-top: 45px; */
}
#content
{
      padding-top: 40px;
    padding-bottom: 30px;
}
.gray-section
{
      /*background: rgba(241, 241, 241, 0.39);*/
}